* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
html,
body {
  font-family: PingFangSC-Regular;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#cardView {
  background: url("http://wyeth-1252311027.file.myqcloud.com/discountshop-web/images/Group.png") no-repeat;
  background-size: cover;
}
.card-header ,.card-footer{
  text-align: center;
}
/*header*/
.card-header .cd-title {
    font-family: PingFangSC-Medium;
    font-size: 54px;
    color: #8DCFFF;
    text-shadow: 0 3px 0 #288BF2;
    letter-spacing: 1px;
    padding-top:70px;
}
/*main*/
.card-content {
  padding: 80px 50px;
}

/*checkbox begin*/
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1em;
}
.Checked{
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;  margin-bottom: 5px;
}
.privacyChecked{
    background: url("http://wyeth-1252311027.file.myqcloud.com/discountshop-web/images/Checkbox Checked.png") no-repeat #fff;
    background-size: cover;
}
.privacyCheckedActive{
    background: url("http://wyeth-1252311027.file.myqcloud.com/discountshop-web/images/Checkbox Checked Copy blue.png") no-repeat;background-size: cover;
}
/*checkbox end*/
/*footer 协议*/
.card-footer{
    margin-top: 40px;
}
.card-footer .cf-prompt {
  font-size: 20px;
  color: #FF5C5C;
  line-height: 24px;
  padding: 10px 0;
}
.card-footer .privacyProtocols .privacyBtn {
    color: #18A1FF;
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
}
/*添加小助手*/
.card-footer .submitBox {
  display: inline-block;
  margin: 18px auto;
}
.card-footer .submitBox .submitBtn {
  text-align: center;
  text-decoration: none;
  display: block;
  border: none;
  outline: none;
  font-size: 24px;
  border-radius: 8px;
  letter-spacing: 1.8px;
  width: 540px;
    height: 90px;
    line-height: 90px;
    color: #fff;
    cursor: pointer;
}
.bgColor_grey {
    background-color: #B0AFAF;
}
.bgColor_blue {
    background-color: #8CD0FF;
}
/*MODEL*/
.model{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.model-info {
  font-size: 28px;
}
.modal-dialog {
  width: 380px;
  height: 500px;
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 30px 32px;
}
.modal-dialog .model-container .model-title {
  text-align: center;
  padding-bottom: 25px;
}
.modal-dialog .model-container .mode-content {
  height: 350px;
  font-size: 22px;
  color: #000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.modal-dialog .model-container .mode-content p {
  padding: 10px 0;
}
.model-button {
  padding-top: 25px;
  text-align: -webkit-center;
}
.model-button .modelBtn {
  background-color: #00A8FF;
  color: #fff;
  text-align: center;
  display: block;
  border: none;
  outline: none;
  width: 240px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  border-radius: 8px;
    cursor: pointer;
}
.model-close {
  text-align: -webkit-right;
  text-align: right;
}
.model-close .closeIcon {
  padding: 20px 0;
    cursor: pointer;
}
.fade {
  display: none;
  -webkit-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
}
/*main input*/
input[disabled] {
  opacity: 1;
}
#phone{
    width: 325px;
    background-color: #fff !important;
}
.citySelect{
    margin-bottom: 100px;
    margin-top: 45px;
}
input.content_info,.predateSelect{
  -webkit-appearance: none;
  outline: none;
    width: 470px;
  height: 36px;
  line-height: 36px;
  padding: 21px 30px;
  margin: 15px 0;
  border: 1px solid #D5D5D5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  background-color: #ddd;
  font-size: 24px;
}
.edcSelect{
    clear: both;
    line-height: 100px;
}
.edcSelect .edcWord{
    width: 40%;
    color: #333;
    font-size: 28px;
}
.edcSelect .edcSpan{
    padding-right: 30px;
}
.predateSelect{
    float: right;
    width: 290px;    color: #999;
}
.dot1{
    width: 12px;
    height: 12px;
    border-right: 4px solid #999;
    border-bottom: 4px solid #999;
    /*border-radius: 3px;*/
    transform: rotate(45deg);
    margin-top: -67px;
    margin-left:470px;

}
.dot {
  width: 12px;
  height: 12px;
  border-right: 4px solid #999;
  border-bottom: 4px solid #999;
  transform: rotate(45deg);
    margin-top: -62px;
    margin-left: 483px;
}
#date {
    opacity: 0;
    -webkit-appearance: none;
    outline: none;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background-color: #FFFFFF;
    font-size: 24px;
    width: 300px;
    position: relative;
    top: -50px;
}
input[type="date"]::-webkit-clear-button { display:none }
/*确定*/
.confirmBtn{
    font-size: 22px;
    color: #fff;
    width: 124px;
    height:80px;
    line-height: 80px;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-left: 20px;
}
.activeDefault{
    background-color: #3CAFFF;
}
.active{
    background-color: #8CD0FF;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #999;}
input:-moz-placeholder, textarea:-moz-placeholder {color: #999;}
input::-moz-placeholder, textarea::-moz-placeholder { color: #999; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #999;}

.activeColor{
    background-color:#fff !important;
    color: #333;
}