.loadingView {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
/*加载*/
.loadingInfo{
    width: 450px;
    height: 280px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
}
.loadingInfo .loadImg{
    margin-top: 40px;
    margin-bottom: 60px;
}
.loadingInfo .loadWord{
    font-family: PingFangSC-Medium;
    font-size: 22px;
    color: #58A7F8;
}
.loadEffect{
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
}
.loadEffect span{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.loadEffect span:before{
    content: '';
    display: block;
    margin: -6px auto;
    width: 10%;
    height: 35%;
    background-color: #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.loadEffect span:nth-child(2){
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.loadEffect span:nth-child(3){
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.loadEffect span:nth-child(4){
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
.loadEffect span:nth-child(5){
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.loadEffect span:nth-child(6){
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}
.loadEffect span:nth-child(7){
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.loadEffect span:nth-child(8){
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
}
.loadEffect span:nth-child(9){
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.loadEffect span:nth-child(2):before{
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.loadEffect span:nth-child(3):before{
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.loadEffect span:nth-child(4):before{
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.loadEffect span:nth-child(5):before{
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.loadEffect span:nth-child(6):before{
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.loadEffect span:nth-child(7):before{
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
.loadEffect span:nth-child(8):before{
     -webkit-animation-delay: -0.2s;
     animation-delay: -0.2s;
}
.loadEffect span:nth-child(9):before{
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleFadeDelay {
    0%,
    /*39%,*/
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}
@keyframes sk-circleFadeDelay {
    0%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}






