* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
html,
body {
    font-family: PingFangSC-Semibold;
    color: #333333;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#QR-view{
  background: url("http://wyeth-1252311027.file.myqcloud.com/discountshop-web/images/Group.png") no-repeat;
    background-size: cover;
}
.QR-view {
  text-align: center;
}

.QRd-info ,.QR-footer{
  font-size: 28px;
}
.QR-code {
  padding-top: 100px;
  padding-bottom: 60px;
}
.QR-code .QR-box {
  display: inline-block;
  background-color: #fff;
  opacity: 1;
  border-radius: 12px;
  padding: 10px;
}
.QR-code .QR-box img {
  width: 358px;
  height: 358px;
  display: block;
}
.QRd-valcode {
    margin: 20px 0 70px 0;
    font-size: 72px;
}
.left-k,.right-k{
  width: 23px;
  height: 23px;
  display: inline-block;
    color: #191919 !important;;
}
.left-k{
  border-left: 6px solid;
  border-top: 6px solid;
  vertical-align: top;
  margin-right: -20px;
  border-top-left-radius: 6px;
}
.right-k{
  border-right:  6px solid;
  border-bottom: 6px solid;
  vertical-align: bottom;
  margin-left: -20px;
  border-bottom-right-radius: 6px;
}